.estado {
    flex: 1;
    text-align: center;
}
.password {
    font-size: 200px;
    align-items: center;
}

.before {
    display: flex;
    flex-direction: column;
    flex: 1;

}


.section {
    display: flex;
    justify-content: space-between;
}

.before-password {
    font-size: 150px;
}